body{
    margin: 0; 
    padding: 0; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
button {

    &:hover{
        cursor: pointer; 
    }
    &:active {
        filter: brightness(85%); 
    }
}
.header{
    display: flex; 
    justify-content: center;
}
.second-section{
    display: flex;
    flex-direction: column;  
    justify-content: center;
    button{
        align-self: center; 
        margin-bottom: 1rem; 
        width: 100px;   
        font-size: 17px; 
        padding: .3rem; 
        background-color: rgb(182, 135, 236); 
        color: white; 
    }
    border: 1px solid black; 
    .choose-mark-section{
        display: flex;
        justify-content: center; 
        .choose-mark{
            margin: 2rem; 
            margin-bottom: 2rem; 
            label{
                font-size: 20px;
            }
            .x-label{
                color: red; 
            } 
            .o-label{
                color: blue; 
            }
        }
    }
}
.game{
    display: flex; 
    justify-content: center;
    .gameboard{
        width: 50vw;
        height: 50vw;  
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.hide{
    display: none; 
}
.warning{
    color: red; 
    position: absolute; 
}